<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
    <connectionStrings>
      <add name="SICAS" connectionString="Server=sicas.casco.com.mx,54903;Database=SICASSync;user id=SICASusr;password=oiuddvbh;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    </connectionStrings>
  
  <appSettings>
    <add key="NombrePaqComercial" value="CONTPAQ I Comercial "/>
    <add key="DirectorioBaseComercial" value="SOFTWARE\WOW6432Node\Computación en Acción, SA CV\CONTPAQ I COMERCIAL"/>
    <add key="EventSource" value="AbastecimientosAppVS2010"/>
    <add key="EventLog" value="AbastecimientosLog"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
