
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1><span class="glyphicon glyphicon-calendar"></span> &nbsp;Consumo de Combustibles</h1>
            </div>
            <div class="panel-body">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-1" for="txtUnidad">Unidad</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="txtUnidad"></select>
                        </div>
                        <label class="control-label col-sm-1" for="txtFechaIni">F. Inicial</label>
                        <div class="col-sm-3">
                            <div class='input-group date' id='txtFechaIni'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <label class="control-label col-sm-1" for="txtFechaFin">F. Final</label>
                        <div class="col-sm-3">
                            <div class='input-group date' id='txtFechaFin'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-1" style="text-align:center;">
                            <button class="btn btn-lg" title="Consultar" id="btnSearch"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                    <div class="form-group" >
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="tblDetalle">
                                <thead>
                                    <tr style="font-weight:bold; font-size: 1.2em;">
                                        <td>Modelo</td>
                                        <td># Eco.</td>
                                        <td>Conductor</td>
                                        <td>F. Inicio</td>
                                        <td>F. Fin</td>
                                        <td>Litros</td>
                                        <td>Pesos</td>
                                        <td>Km Inicial</td>
                                        <td>Km Final</td>
                                        <td>Km Recorridos</td>
                                        <td>Rendimiento</td>
                                        <td>Servicios</td>
                                        <td>Ingresos</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/Scripts/ConsumosCombustible.js")"></script>
    <script type="text/javascript">
        var rutaUnidadesConConsumo = '@Url.Action("UnidadesConConsumo", "ConsumosCombustible")';
        var rutaConsumosPorFecha = '@Url.Action("ConsumosPorFecha", "ConsumosCombustible")';
        var lunidades = [];
        var lconsumos = [];

        $(document).ready(function () {
            $('#txtFechaIni').datetimepicker({ defaultDate : new Date(), locale:'es' });
            $('#txtFechaFin').datetimepicker({ defaultDate: new Date(), locale: 'es' });
            $("#txtFechaIni").on("dp.change", function (e) {
                $('#txtFechaFin').data("DateTimePicker").minDate(e.date);
            });
            $("#txtFechaFin").on("dp.change", function (e) {
                $('#txtFechaIni').data("DateTimePicker").maxDate(e.date);
            });

            $("#btnSearch").on("click", ObtieneConsumos);

            var params = {};
            lunidades = ObtieneListaJson(params, rutaUnidadesConConsumo);
            RenderOpcionesEnCombo($("#txtUnidad"), lunidades);
        });

        function ObtieneConsumos(evt, hdl) {
            evt.preventDefault();
            var unidad_s = $("#txtUnidad").find(':selected').val();
            var dteIni = $("#txtFechaIni").find("input").val();
            var dteFin = $("#txtFechaFin").find("input").val();
            var params = { unidad: unidad_s, inicio: dteIni, fin: dteFin };
            lconsumos = ObtieneListaJson(params, rutaConsumosPorFecha);
            var tbl = $("#tblDetalle");
            RenderTable(tbl, lconsumos);
        }

    </script>
}