@{
    ViewBag.Title = "SICAS";
}

<div class="jumbotron">
    <h1>SICAS - WEB</h1>
    <p class="lead">Sistema Integral para el Control de Autotransporte y Servicios</p>
</div>

<div class="row">
    <div class="col-md-4" style="cursor:pointer;">
        <h2>Abastecimientos</h2>
        <p>Elaboración y Consulta de Requisiciones de Material.</p>
        <p>Generación y Consulta de Ordenes de Trabajo.</p>
        <p><a class="btn btn-default" href="http://192.168.0.74/Abastos">Ver más &raquo;</a></p>
    </div>
    <div class="col-md-4" style="cursor:pointer;">
        <h2>Control Vehicular</h2>
        <p>Consulta sobre Rendimiento de Combustible Unidades Aeropuerto.</p>
        <p><a class="btn btn-default" href="http://192.168.0.74/ControlVehicular">Ver más &raquo;</a></p>
    </div>
    <div class="col-md-4" style="cursor:pointer;">
        <h2>Revistas</h2>
        <p>Captura / Consulta de Revistas Electronicas</p>
        <p>Indicadores de Ejecución</p>
        <p><a class="btn btn-default" href="http://192.168.0.74/Revistas">Ver más &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4" style="cursor:pointer;">
        <h2>Contabilidad</h2>
        <p>Consulta de Cortes de Caja.</p>
        <p>Consulta de Ingresos.</p>
        <p><a class="btn btn-default" href="http://192.168.0.74/Contabilidad">Ver más &raquo;</a></p>
    </div>
</div>