@{ 
    ViewBag.Title = "Abastecimientos";
}
<div class="row">
    <div class="col-sm-12" id="btnSolicitud" style="cursor:pointer;">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h1>Solicitud de Material</h1>
            </div>
            <div class="panel-body">
                <span class="glyphicon glyphicon-calendar logo"></span>
                <p>Elaboración Solicitud de Materiales por área</p>
            </div>
            <div class="panel-footer">
                <button class="btn btn-lg">Ir</button>
            </div>
        </div>
    </div>
    @*<div class="col-sm-6" id="btnOrdCompras" style="cursor:pointer;">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h1>Ordenes de Compra</h1>
            </div>
            <div class="panel-body">
                <span class="glyphicon glyphicon-check logo"></span>
                <p>Elaboración de Ordenes de Compra</p>
            </div>
            <div class="panel-footer">
                <button class="btn btn-lg">Ir</button>
            </div>
        </div>
    </div>*@
</div>

    @section Scripts {
        <script type="text/javascript">
            var rutaSolicitud = '@Url.Action("Index", "SolicitudMateriales")';
            var rutaOrdCompra = '@Url.Action("Index", "OrdenesDeCompra")';
            $(document).ready(function () {
                $('#btnSolicitud').on('click', function () { window.location = rutaSolicitud; });
                $('#btnOrdCompras').on('click', function () { window.location = rutaOrdCompra; });
                hideLoading();
            });
        </script>
    }
