@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Control Vehícular</h1>
    <p class="lead">Sistema para el control de la flota.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Consumo de Combustibles</h2>
        <p>Consultas e Indicadores respecto al consumo de combustible por periodo de la flota</p>
        <p><a class="btn btn-default" href="@Url.Action("Index","ConsumosCombustible")">Ver más... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cartilla Electrónica</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ver más... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Plantilla</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Ver más... &raquo;</a></p>
    </div>
</div>